<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <style>
        body {
            background-image: url("/images/Banner.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 400px;
            background-color: rgba(255, 255, 255, 0.8);
        }
    </style>
</head>
<body>
<div class="card">
    <div class="card-header text-bg-warning">AUTENTICACIÓN</div>
    <div class="card-body">
        <form th:action="@{/auth/login}" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nomusuario" name="nomusuario" placeholder="name@example.com">
                <label for="nomusuario">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <button type="submit" class="btn btn-outline-primary">INGRESAR</button>
        </form>
    </div>
</div>
</body>
</html>
