<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Ventas</title>
</head>
<body>
<script th:src="@{/js/web/backoffice/venta/formventa.js}" type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Registro de ventas:
    </div>
    <div class="card-body">
        <button id="btnagregar" type="button" class="btn btn-primary">Agregar</button>
        <hr />
        <div id="divmensaje"></div>
        <table id="tblventa" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Cliente</th>
                <th scope="col">Empleado</th>
                <th scope="col">Instrumento</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="venta : ${listventa}">
                <td th:text="${venta.idventa}"></td>
                <td th:text="${venta.fecha}"></td>
                <td th:text="${venta.cantidad}"></td>
                <td th:text="${venta.precio_unitario}"></td>
                <td th:text="${venta.cliente.nombre}"></td>
                <td th:text="${venta.empleado.nombre}"></td>
                <td th:text="${venta.instrumento.nombre}"></td>
                <td>
                    <button type="button" class="btn btn-primary btnactualizar"
                            th:data-ventacod="${venta.idventa}"
                            th:data-ventafecha="${venta.fecha}"
                            th:data-ventacantidad="${venta.cantidad}"
                            th:data-ventaprecio="${venta.precio_unitario}"
                            th:data-ventacliente="${venta.cliente.idcliente}"
                            th:data-ventaempleado="${venta.empleado.idempleado}"
                            th:data-ventainstrumento="${venta.instrumento.idinstrumento}">Actualizar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal registro y actualización de venta -->
<div class="modal fade" id="modalventa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Venta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="txtfechaventa">
                    <label for="txtfechaventa">Fecha de venta</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="txtcantidadventa">
                    <label for="txtcantidadventa">Cantidad</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="txtprecioventa">
                    <label for="txtprecioventa">Precio Unitario</label>
                </div>
                <div class="mb-3">
                    <label for="cboclienteventa" class="form-label">Cliente</label>
                    <select id="cboclienteventa" class="form-select">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="cboempleadoventa" class="form-label">Empleado</label>
                    <select id="cboempleadoventa" class="form-select">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="cboinstrumentoventa" class="form-label">Instrumento</label>
                    <select id="cboinstrumentoventa" class="form-select">
                    </select>
                </div>

                <input type="hidden" id="hddventacod" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
