<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>

<nav th:replace="layout::menu"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Mantenimiento de clientes:
    </div>
    <div class="card-body">
        <button id="btnagregar" type="button" class="btn btn-primary">Registrar</button>
        <hr />
        <div id="divmensaje"></div>
        <table id="tblproducto" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${listarcliente}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.direccion}"></td>
                <td th:text="${cliente.telefono}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>